<h1> Welcome to What The Fit! </h1>

<p> A client management application where fitness trainers can keep track of their clients and appointments! </p>
<p> The days of forgetting your schedule are a thing of the past! </p>
<p> Sign up or Log in above! </p>