# show a trainer's specific page with its specific clients and appointments.

<h2> Welcome, <%= @trainer.name %> </h2>

<p> Your info: </p>
    <%= @trainer.name %>
    <br>
    <%= @trainer.email %>
    <br>
    <%= @trainer.bio %>
